// Standart

$white: #fff;
$black: #000;

// Main Colors

$mainRed: #9d5151;
$mainBlue: #252039;
$mainYellow: #ffe119;
$btn: #322b5c;

// Grays

$grayLight: #969595;
$grayDark: #444349;

// Bonus

$mainBlueDark: #171523;
$mainBlueLight: #afc1e2;
$mainRedLight: #f0a5a5;

$violet: #a061ff;
$cian: #58bccb;
$green: #98cf9c;
$yellow: #ffe119;