// PAYTONE ONE

@font-face {
	src: url('../fonts/Paytone_One/PaytoneOne-Regular.ttf');
	font-family: PaytoneOne;
	font-style: normal;
	font-weight: 400;
}

// EXO

@font-face {
	src: url('../fonts/Exo/Exo-Thin.ttf');
	font-family: Exo;
	font-style: normal;
	font-weight: 100;
}

@font-face {
	src: url('../fonts/Exo/Exo-ExtraLight.ttf');
	font-family: Exo;
	font-style: normal;
	font-weight: 200;
}

@font-face {
	src: url('../fonts/Exo/Exo-Light.ttf');
	font-family: Exo;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	src: url('../fonts/Exo/Exo-Regular.ttf');
	font-family: Exo;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	src: url('../fonts/Exo/Exo-Medium.ttf');
	font-family: Exo;
	font-style: normal;
	font-weight: 500;
}

@font-face {
	src: url('../fonts/Exo/Exo-SemiBold.ttf');
	font-family: Exo;
	font-style: normal;
	font-weight: 600;
}

@font-face {
	src: url('../fonts/Exo/Exo-Bold.ttf');
	font-family: Exo;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	src: url('../fonts/Exo/Exo-ExtraBold.ttf');
	font-family: Exo;
	font-style: normal;
	font-weight: 800;
}

@font-face {
	src: url('../fonts/Exo/Exo-Black.ttf');
	font-family: Exo;
	font-style: normal;
	font-weight: 900;
}

// EXO ITALIC

@font-face {
	src: url('../fonts/Exo/Exo-ThinItalic.ttf');
	font-family: Exo;
	font-style: italic;
	font-weight: 100;
}

@font-face {
	src: url('../fonts/Exo/Exo-ExtraLightItalic.ttf');
	font-family: Exo;
	font-style: italic;
	font-weight: 200;
}

@font-face {
	src: url('../fonts/Exo/Exo-LightItalic.ttf');
	font-family: Exo;
	font-style: italic;
	font-weight: 300;
}

@font-face {
	src: url('../fonts/Exo/Exo-Italic.ttf');
	font-family: Exo;
	font-style: italic;
	font-weight: 400;
}

@font-face {
	src: url('../fonts/Exo/Exo-MediumItalic.ttf');
	font-family: Exo;
	font-style: italic;
	font-weight: 500;
}

@font-face {
	src: url('../fonts/Exo/Exo-SemiBoldItalic.ttf');
	font-family: Exo;
	font-style: italic;
	font-weight: 600;
}

@font-face {
	src: url('../fonts/Exo/Exo-BoldItalic.ttf');
	font-family: Exo;
	font-style: italic;
	font-weight: 700;
}

@font-face {
	src: url('../fonts/Exo/Exo-ExtraBoldItalic.ttf');
	font-family: Exo;
	font-style: italic;
	font-weight: 800;
}

@font-face {
	src: url('../fonts/Exo/Exo-BlackItalic.ttf');
	font-family: Exo;
	font-style: italic;
	font-weight: 900;
}