@import "fonts";
@import "colors";

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
}

section {
	min-height: calc(100vh - 5rem);
	padding: 4rem 0;
	position: relative;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	font-family: Exo;
	font-size: 1.8rem;
	line-height: 2.4rem;

	&:nth-child(odd) {
		color: $white;
		background-color: $mainBlue;

		.main {
			&__heading {
				color: $white;

				&::before,
				&::after {
					border: .2rem solid $white;
					background-color: $mainBlue;
				}

			}
		}

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background-color: $mainBlue;
			opacity: .9;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;	
		}
	}

	&:nth-child(even) {
		color: $grayDark;
		background-color: $white;

		.main {
			&__heading {
				color: $grayLight;

				&::before,
				&::after {
					border: .2rem solid $grayLight;
					background-color: $white;
				}

			}
		}
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	margin: 2.5rem 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.header {
	width: 100%;
	min-height: 5rem;
 	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;	
	justify-content: center;	
	align-items: center;	
	font-family: PaytoneOne;
	color: $white;
	background-color: $black;

	&__cont {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.8rem;
	}

	&__logo {
		min-width: 17.5rem;
		display: flex;	
		justify-content: space-between;
		align-items: center;

		&--active {
			color: $mainRed;
		}

		img {
			height: 3rem;
			margin-right: 1rem;
		}
	}

	&__nav {
		&-list {
			display: flex;
		}

		&-item {
			margin-left: 4rem;
		}

		&-link {
			min-height: 5rem;
			display: flex;
			flex-direction: column;	
			justify-content: center;
			align-items: center;
			position: relative;
			transition: all .4s;
			color: $white;

			&::after {
				content: "";
				width: 100%;
				height: .5rem;
				background-color: $mainRed;
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				transform-origin: left;
				transition: all .2s;
				transform: rotateY(90deg);
			}

			&--active,
			&:hover {
				color: $mainRed;
					
				&::after {
					transform: rotateY(0deg);
				}
			}
		}

		&-btn {
			display: none;
		}
	}
}

.main {
	margin-top: 5rem;
	overflow: hidden;

	&__title {
		max-width: min-content;
		margin: 0;
		font-family: PaytoneOne;
		font-size: 10rem;
		position: absolute;
		left: -3vw;
		top: -8vh;
		text-transform: uppercase;
		opacity: .1;
		line-height: 1.2;
	}

	&__heading {
		min-width: 29rem;
		min-height: 6.5rem;
		margin: 4rem 0;
		display: flex;
		justify-content: center;	
		align-items: center;
		position: relative;
		font-size: 4.8rem;
		font-family: PaytoneOne;
		text-transform: uppercase;
		z-index: 0;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 1rem;	
			top: 1rem;	
			min-width: 100%;
			min-height: 100%;
			z-index: -1;
		}

		&::before {
			left: 1rem;	
			top: 1rem;
		}

		&::after {
			left: 0;	
			top: 0;
		}

		&:nth-child(even) {
			background-color: $white;
		}

		&-cont {
			display: flex;
			justify-content: center;	
			align-items: center;
		}
	}

	&__btn {
		width: max-content;
		height: 4rem;
		min-width: 15rem;
		min-height: 4rem;
		padding: 1rem 3rem;
		background-color: $btn;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10rem;
		color: $white;
		font-weight: 800;
	}

	&__active {
		color: $mainRed;
	}
}

.footer {
	padding: 4rem 0;	
	font-family: PaytoneOne;
	font-size: 1.6rem;
	background-color: $mainBlueDark;
	color: $white;

	&__logo {
		font-family: PaytoneOne;
		font-size: 	2.6rem;
		display: flex;	
		flex-direction: row;
		align-items: center;

		&--active {
			color: $mainRed;
		}	

		img {
			height: 3.7rem;
			margin-right: 1rem;
		}
	}

	&__widget {
		font-family: Exo;

		&-heading {
			margin: .5rem 0 0;
			font-size: 3rem;
			font-weight: 300;
		}

		&-subheading {
			margin: 0;
			font-size: 1.8rem;
			font-weight: 300;
		}

		&-social {
			display: flex;	

			&-link {
				width: 4rem;	
				height: 4rem;
				margin: 1.5rem 1.5rem 0 0;
				display: flex;
				justify-content: center;	
				align-items: center;	
				border-radius: 100%;
				font-size: 2rem;
				background-color: $mainRed;
				opacity: .7;
				transition: all .3s;

				&:hover {
					opacity: 1;
				}
			}
		}

		&-copyright {
			margin: 2rem 0 0;
			font-size: 1.4rem;
			font-weight: 100;
		}
	}

	&__heading {
		padding-bottom: 1.5rem;
		margin: 0;
		position: relative;
		line-height: 1;	
		font-size: 3.8rem;

		&::before {
			content: "";
			width: 12rem;
			height: .3rem;
			background-color: $mainRed;
			position: absolute;
			left: 0;	
			bottom: 0;
		}
	}

	&__links {
		margin: 1.2rem 0;
		display: flex;
		flex-direction: column;
		color: $mainRed;

		&-item {
			transition: all .2s;
			color: $white;

			&:hover {
				color: $mainRed;
			}
		}
	}
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../img/bgs/banner_bg.jpg');
	position: relative;

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__heading,
	&__subheading {
		margin: 1rem 0;
		line-height: 1;
		font-family: PaytoneOne;
	}

	&__heading {
		font-size: 5.9rem;
	}

	&__subheading {
		font-size: 4rem;
	}

	&__paragraph {
		margin: 0;

		&-cont {
			margin: 3rem 0;
		}
	}

	&__photo {
		width: 46.5rem;
		height: 46.5rem;
		overflow: hidden;
		margin: auto;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $black;
		position: relative;
		z-index: 2;
		box-shadow: 1.5rem 1rem .5rem rgba(0, 0, 0, 0.3);

		&-cont {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img {
			width: 150%;
		}
	}

	&__decor {
		&-circle {
			position: absolute;
			display: inline-block;
			border-radius: 100%;
			background-color: $black;
			box-shadow: 15rem 1rem .5rem rgba(0, 0, 0, 0.3);

			&:nth-child(1) {
				width: 9.7rem;
				height: 9.7rem;
				left: -29rem;
				top: -24rem;
			}

			&:nth-child(2) {
				width: 18.5rem;
				height: 18.5rem;
				right: -32rem;
				top: -25rem;
			}

			&:nth-child(3) {
				width: 19rem;
				height: 19rem;
				left: -29rem;
				bottom: -20rem;
			}

			&:nth-child(4) {
				width: 11rem;
				height: 11rem;
				right: -22rem;
				bottom: -25rem;
			}

			&-list {
				position: absolute;
				z-index: 1;
			}
		}

		&-line {
			display: block;
			width: 150vw;
			height: .3rem;
			margin: 7rem;
			background-color: $mainRed;

			&-list {
				position: absolute;
				transform: rotateZ(120deg) translateY(-7.5rem);
			}
		}
	}
}

.about_me {
	&__heading {
		margin: 2rem 0;
		font-size: 3.6rem;
	}

	&__content {
		padding-bottom: 3rem;

		&--less {
			display: none;
		}
	}

	&__photo {
		max-width: calc(100% - 6rem);
		position: absolute;
	}

	&__decor {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -2;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		&-circle {
			position: absolute;
			display: block;
			border-radius: 100%;

			&:nth-child(1) {
				width: 65.5rem;
				height: 65.5rem;
				transform: translateX(-75%) translateY(-20%);
				background-color: $mainRedLight;
			}

			&:nth-child(2) {
				width: 45rem;
				height: 45rem;
				transform: translateX(-115%) translateY(55%);
				background-color: $violet;
			}

			&:nth-child(3) {
				width: 37rem;
				height: 37rem;
				transform: translateX(-55%) translateY(0%);
				background-color: $cian;
			}

			&:nth-child(4) {
				width: 37rem;
				height: 37rem;
				transform: translateX(175%) translateY(-100%);
				background-color: $violet+c5;
			}
		}
	}
}

.skills {
	background-image: url('../img/bgs/skills_bg.jpg');

	&::before {
		display: none;
	}
	
	&__carousel {
		margin: 4rem 0;

		&-nav {
			width: max-content;
			margin: 4rem auto;
			display: flex;
			align-items: center;
			justify-content: center;

			&-btn {
				padding: 0;
				border-width: 0;
				font-size: .1rem;
				background-color: transparent;
				cursor: pointer;

				&--prev {
					transform: rotateZ(90deg);
				}

				&--next {
					transform: rotateZ(270deg);
				}

				span {
					display: flex;
					justify-content: center;
					align-items: center;

					&::before,
					&::after {
						content: "";
						display: inline-block;
						position: relative;
						background-color: $mainYellow;
						border-radius: .5rem;
						transform: rotateZ(135deg);
					}

					&::before {
						width: 1.3rem;
						height: 3.5rem;
						right: -1rem;
					}

					&::after {
						height: 1.3rem;
						width: 3.5rem;
					}
				}
			}
		}

		&-dots {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			&-circle {
				height: 2.3rem;
				width: 2.3rem;
				padding: 0;
				margin: 0 1.1rem;
				border-radius: 100%;
				border-width: 0;
				background-color: $mainYellow;
				opacity: .3;
				cursor: pointer;
				transition: all .3s;

				&.active {
					opacity: 1;
				}
			}
		}
	}

	&__item {
		text-align: center;

		&-icon {
			img {
				max-width: 100%;
				height: 22rem;
			}
		}

		&-heading {
			margin: 1.5rem 0;
			font-size: 3.6rem;
			font-family: PaytoneOne;
			text-transform: uppercase;
		}

		&-subheading {
			margin: 1.5rem 0;
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 300;
		}

		&-level {
			width: 90%;
			height: 2.8rem;
			margin: 0 5%;
			border: .3rem solid $white;
			border-radius: 2rem;

			&-scale {
				width: 100%;
				height: 100%;
				background: linear-gradient(45deg, $cian, $violet);
				border-radius: 2rem;
			}
		}
	}
}

.projects {
	background-image: url('../img/bgs/projects_bg.jpg');

	&__list {
		margin: 4rem 0
		;
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 25rem 25rem;
		grid-gap: 3rem;
		grid-template-areas: 
				'item1 item2 item4'
				'item1 item3 item4'
	}

	&__item {
		overflow: hidden;

		&:nth-child(1) {
			grid-area: item1;
		}

		&:nth-child(2) {
			grid-area: item2;
		}

		&:nth-child(3) {
			grid-area: item3;
		}

		&:nth-child(4) {
			grid-area: item4;
		}

		&-img {
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__decor {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		display: flex;
		justify-content: center;
		align-items: center;

		&-circle {
			display: inline-block;
			border-radius: 100%;
			position: absolute;
			opacity: .65;

			&:nth-child(1) {
				transform: translateX(-130%) translateY(-30%);
				width: 47rem;
				height: 47rem;
				background-color: $green;
			}

			&:nth-child(2) {
				transform: translateX(-45%) translateY(50%);
				width: 46rem;
				height: 46rem;
				background-color: $mainBlueLight;
			}

			&:nth-child(3) {
				transform: translateX(17.5%) translateY(-65%);
				width: 47.5rem;
				height: 47.5rem;
				background-color: $yellow;
			}

			&:nth-child(4) {
				transform: translateX(135%) translateY(-100%);
				width: 47rem;
				height: 47rem;
				background-color: $mainRedLight;
			}

			&:nth-child(5) {
				transform: translateX(109%) translateY(16%);
				width: 47rem;
				height: 47rem;
				background-color: $mainRedLight;
			}
		}
	}
}

.contacts {
	background-image: url('../img/bgs/contacts_bg.jpeg');

	&__list {
		width: 100%;
		height: 52rem;
		padding: .3rem .65rem .3rem .3rem;
		margin: 4rem 0;
		display: flex;
		flex-direction: column;
		overflow: auto;
		position: relative;
		z-index: 2;
		background-color: $mainBlueDark;

		&::-webkit-scrollbar {
			width: 2rem;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 1rem;
			background-color: $mainBlue;
		}
	}

	&__item {
		min-height: 5rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: $mainBlue;

		&:not(:first-child):not(:last-child) {
			margin: .4rem 0;
		}

		&:first-child {
			margin: 0 0 .4rem;
		}

		&:last-child {
			margin: .4rem 0 0;
		}

		&-icon {
			width: 4.5rem;
			height: 4.5rem;
			margin: auto 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			background-color: $mainBlueDark;
			font-size: 2rem;
		}

		&-description {
			font-size: 2.4rem;
			text-transform: uppercase;
			font-weight: 300;

			&-strong {
				font-weight: 500;
			}
		}
	}

	&__photo {
		margin: 4rem 0;
		position: relative;
		display: flex;
		justify-content: center;
		z-index: 1;

		&::before {
			content: "";
			width: 75.5rem;
			height: 75.5rem;
			border-radius: 100%;
			position: absolute;
			top: -6rem;
			background-color: $mainRed;
			opacity: .5;
			z-index: 0;
		}

		img {
			max-width: 100%;
			position: absolute;
		}
	}

	&__decor {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&-list {
			position: absolute;
			transform: rotateZ(120deg) translateY(-25rem);
		}

		&-line {
			display: block;
			width: 150vw;
			height: .2rem;
			margin: 8rem;
			background-color: $mainRed;
		}
	}
}

@media(max-width: 992px) {
	@import "mobile";
}